* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.total-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.heading {
  font-family: "Roboto";
  font-size: 50px;
  font-weight: 500;
  color: #0f172a;
}

.boxes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-title {
  font-family: "Bree Serif";
  font-size: 20px;
  color: #ffffff;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.small-box {
  background-color: #fbbf24;
  height: 80px;
  width: 80px;
  margin-top: 25px;
}

.medium-box {
  background-color: #38bdf8;
  height: 150px;
  width: 150px;
}

.large-box {
  background-color: #ec4899;
  height: 250px;
  width: 250px;
}

@media screen and (min-width: 768px) {
  .boxes-container {
    flex-direction: row;
    align-items: flex-end;
  }
  .box {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .small-box {
    height: 100px;
    width: 100px;
  }
  .medium-box {
    height: 200px;
    width: 200px;
  }
  .large-box {
    height: 350px;
    width: 350px;
  }
  .box-title {
    font-size: 25px;
  }
}

@media screen and (min-width: 992px) {
  .box {
    margin-left: 40px;
    margin-right: 40px;
  }
  .small-box {
    height: 120px;
    width: 120px;
  }
  .large-box {
    height: 400px;
    width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .small-box {
    height: 140px;
    width: 140px;
  }
  .medium-box {
    height: 250px;
    width: 250px;
  }
  .large-box {
    height: 450px;
    width: 450px;
  }
}
